*
!package.json
!LICENSE
!icons/**/*
!out/cosmo.tmLanguage.json
!out/cosmos-lsp-host
!out/cosmos-lsp-host.exe
!out/extension.js
!out/extension.js.map
!out/server-root/**/*
!syntaxes/**/*
scripts/**/*
src/**/*
test/**/*
