*
!package.json
!LICENSE
!icons/**/*
!out/cosmo.tmLanguage.json
!out/cosmos-host.js
!out/cosmos-host.js.map
!out/extension.js
!out/extension.js.map
!out/lsp-server.js
!out/lsp-server.js.map
!out/server-root/**/*
!syntaxes/**/*
scripts/**/*
src/**/*
test/**/*
